# Class Final Project

## Instructions:
(1) Save the file as YOURLASTNAMEclass_project_sp19


(2) Only analyze 2 input files: 1 count table for Part 1, and 1 formatted blast output for Part 2


(3) Send the final file to the usual email address

## Part 1: Use pandas to determine proportion of Deinococcus and Chloroflexi bacteria in a set of pre-analyzed taxa abundance tables (otu_tables) from 16S rRNA built environment studies.

In [3]:
import pandas as pd

In [4]:
#Keep this code the same EXCEPT change the file name
data=pd.read_csv('45035_table_w_tax.txt', sep='\t', index_col=False, low_memory=False)

In [5]:
print(data.head())

    OTU ID  1345.O1  1345.O3  1345.O2  1345.M1  1345.M2  1345.M3  1345.M4  \
0  1027904      1.0      1.0      0.0      0.0      0.0      0.0      0.0
1   318609      0.0      0.0      1.0      0.0      0.0      0.0      0.0
2   279910      1.0      2.0      0.0      2.0      1.0      1.0      1.0
3   114170      0.0      1.0      0.0      0.0      0.0      0.0      0.0
4   526875      0.0      0.0      0.0      0.0      0.0      0.0      0.0

   1345.W5  1345.W3  1345.W4  1345.W1  1345.O5  1345.M5  \
0      0.0      0.0      0.0      0.0      0.0      0.0
1      0.0      0.0      0.0      0.0      0.0      0.0
2      1.0      0.0      0.0      0.0      0.0      0.0
3      0.0      0.0      0.0      0.0      0.0      0.0
4      0.0      2.0      0.0      0.0      0.0      0.0

                                            taxonomy
0  k__Bacteria; p__Firmicutes; c__Bacilli; o__Bac...
1  k__Bacteria; p__Proteobacteria; c__Alphaproteo...
2  k__Bacteria; p__Proteobacteria; c__Gammaproteo...
3  k__Bacteria; p__Proteobacteria; c__Deltaproteo...
4  k__Bacteria; p__Bacteroidetes; c__Bacteroidia;...

## Sum up the counts for the entire table (All rows and columns). Print the total.

## Sum up the counts for each all rows that have taxonomy matching the names in the list tax_names below:

In [86]:
tax_names=['Chloroflexi','Deino','TM7']

## Print a table of counts for each taxon that looks like this:

In [87]:
#Taxon  Counts  Proportion
#Chlor  11.0    0.0015
#Deino  8.0     0.0011
#TM7    5.0     0.0007

## Part 2: Use pandas to parse output of blast results.

Parse the blast output that has been formatted with the blast command: 


$ blastn -query my_seqs.fa -max_target_seqs 1 -db extremo -out fmt6blast.out.txt -perc_identity 98 -outfmt "6 qseqid sseqid pident qlen length mismatch gapope evalue bitscore salltitles"

In [ ]:
#Keep this code the same EXCEPT change the file name
blast=pd.read_csv('formatted_blast_output.txt', sep='\t', index_col=False, low_memory=False)

For find the matches that match 'Deino', 'Cholorflexi' and 'TM7'.


For these matches print a table that has the qsedid, the sseqid, the pident, the evalue adn the salltitles (taxonomy)

In [ ]:
#The table should have these as the headers:
#queryID     SubjID    PerID    e-Value    Taxonomy